body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pokedex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pokemon {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  border: 1px solid #e494cc;
  padding: 10px;
  text-align: center;
}
