body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2,
h3 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: center;
}
ul {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: center;
}
li {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: left;
}
div.container {
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul.abilities {
  margin-top: -25px;
  display: inline-block;
  text-align: right;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul.general {
  display: inline-block;
  text-align: left;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  list-style-type: none;
  margin-bottom: auto;
}
Link {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: center;
  text-decoration-color: black;
}
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.pokemon-card {
  background-color: #dfadcc;
  border-radius: 15px 50px;
  padding: 20px;
  text-align: center;
}
.pokemon-card-about {
  background-color: #f0badb;
  border-radius: 15px 50px;
  padding: 20px;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.pokemon-image {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.next-button {
  margin-top: 20px;
  text-align: center;
  background-color: #90b9e4;
  align-items: center;
}

.next-button button {
  background-color: #90b9e4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  align-items: center;
}

.next-button button:hover {
  background-color: #92bce9;
}

Link {
  display: inline-block;
  text-decoration: none;
  color: #0e0d0d;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #050505;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

Link:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  background-color: hsl(0, 0%, 5%);
}

Link h3 {
  margin: 10px 0 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

Link img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
